*{ text-align: center; margin: 0% auto;}

body{
     background-image: url( img/Fondo.webp);
}

h1{
 margin-top: 300px;
 font-family: "Story Script";
}

a{
    color:greenyellow;
}

a :hover{
  color: white;
}

p{
margin-top: 20PX;
color: white;
font-family: "Roboto";
}