*{
    margin: 0 auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body{
    background-image: url( img/fondo.jpg);
    background-size:cover
}

header{
    width: 600px;
    height: 100px;
    font-size: 10px;
    color: white;
    margin-left: 250px;
    margin-top: 20px;
}

h2{
    padding: 10px;
}

nav{
    width:100% ;
    display: flex;
    flex-wrap: wrap;

    align-items: center;
}

.caja{
      width: 500px;
      height: 60px;
      margin-left: 170px;
      padding-top:25px;
      background-color: white;
      border: solid 2px black;
}

.caja:hover{
    background-color:royalblue;
    transform: translate(10px, -10px);
    border: white 2px solid ;
}

a:hover{
    color: white;
}

a{
    margin-left: 15px;
     font-size: 25px;
     text-decoration: none;
     color: black;
}


