*{
    margin: 0 auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body{
    background-image: url( img/fondo.jpg);
    background-size:cover
}

header{
    width: 600px;
    height: 100px;
    font-size: 10px;
    color: white;
    margin-left: 250px;
    margin-top: 20px;
}

h2{
    padding: 10px;
}

.caja{
      width: 600px;
      height: 60px;
      margin-left: 250px;
      padding-top:25px;
      background-color: white;
      border: solid 2px black;
}
.caja:hover{
    background-color:mediumslateblue;
}
a:hover{
    color: white;
}

a{
    margin-left: 15px;
     font-size: 25px;
     text-decoration: none;
     color: black;
}


