*{
align-items: center; 
margin: 0;
padding: 0;
    
}

header{
    width: 100%;
    height: 100px;
    background-size: cover;
    display:flex;
    justify-content: center;
    background-color: white;
}

h3{
    margin-top: 60px;
    padding: 20px;
    text-align: center;
    font-size: 15px;
    font-family: "forager", sans-serif;
    background-color:black;
    color: white;

}

ul{
    width: 95%;
    height: 50px;
    margin: 20px;
    background-color: white;
    border: solid black 2px;
    display: flex;
    justify-content: space-evenly;
    list-style: none;

}

.barra{
   text-decoration: none;
   color:black;
   font-family: "baga", sans-serif;
}

ul :hover{
  background-color:rgb(109, 65, 20);
  color: white;
  font-size: 18px;
}

article{
     margin-top: 50px;
     align-items: center;
     display: flex;
    justify-content: space-around;
}

.cosas{
    text-decoration: none;
    color: black;
    font-size: 12px;
     font-family: "baga", sans-serif;
}


@media only screen and (max-width: 600px) {

    ul{
    align-items: center;
    flex-direction: column;
    height: 80px;
    width: 90%;
    background-color:rgb(109, 65, 20) ;
  }
  .barra{
    color: white;
  }

  article{
    flex-direction: column;
  }

  img{
    margin-bottom: 15px;
  }


  h3 {
    font-size: 10px;
  }

}
  
