*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/*--TÍTULO PRINCIPAL--*/

h1{
  margin-top: 32px;
  margin-bottom: 16px;
  text-align: center;
  letter-spacing: 10px;
  color: deeppink;
}

/*--SUBTÍTULOS--*/

h2{
  margin-top: 32px;
  margin-bottom: 16px;
  text-align: center;
}

/*--Imagenes--*/

header{
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

main{
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

article{
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

figure{
  flex: 250px;
  max-width: 300px;
  overflow: hidden;
}

img{
  width: 100%;
  height: 100%;
  filter: blur(4px);            
  transition: filter 0.4s ease;
}

img:hover{
  filter: blur(0);
}

/*--FOOTER--*/

footer{
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
}
a{
  text-decoration: none;
  color: deeppink;
  font-size: 14px;
}
