*{
    align-items: center;
    text-align: center;
}

header{
background-image: url(img/Fondo.jpg);
height: 300px;
}

h1{
    font-family: "Ballet", cursive;
    font-size: 60px;
    padding: 85px;
}

p{
    text-align: center;
    font-size: 20px;
    margin: 40px;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contenedor{
   width: 240px;
   border: 2px solid blue;
   margin: 25px;

}

.contenedor:hover{
  width:240px;
  border: yellow 2px solid;
  margin-bottom: 25px;
  color: coral;
  box-shadow: 4px 10px 12px yellow;
}

img{
    height:200px;
    padding: 20px;
}

h2{
    font-family: "Ballet", cursive;
    font-size: 10px;
    margin-top: 15px;
}

a{
    text-decoration: none;
     color: black;
}


a:hover{
    text-decoration: none;
     color: coral;
}

