.contenedor{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 10vw 25vw 10vw;
    background-color: chartreuse;
    margin: 3vw;
    font-size: 1vw;
}

.contenedor div{
    border: 1px black solid;
    text-align: center;
}

.hj1{
    grid-column: 1/3;
}

.hj2{
    grid-row: 2/4;
}