* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*FUENTE*/
body {
    font-family: 'Mountains of Christmas', cursive;
    background: white;
}

/*CONTENEDOR*/
.contenedor-principal{
    width: 1300px;
    padding: 20px;
    margin: auto;
}

/* TÍTULO */
h1 {
    margin-bottom: 30px;
    text-align: center;
    font-size: 48px;
    color: red;
    transition: color 0.4s;
}

h1:hover {
    color: green;
}

/* FOTOS */
.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* PRIMER CONTENEDOR */
.item {
    width: 400px;
    height: 200px;
    border: 2px red solid;
    margin: 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* TÍTULOS */
h2 {
    color: white;
    font-size:32px;
    transition: color 0.3s;
}

h2:hover {
    color: black;
}

/* TEXTO */
p {
    color: black;
    font-size: 16px;
}

/* IMÁGENES */
img {
    width: 100%;
    height: 100%;
}

/* GRADIENTES */
.rojo {
    background: linear-gradient(135deg, red, white);
}

.verde {
    background: linear-gradient(135deg, green, white);
}

.diagonal {
    background: linear-gradient(135deg, green 50%, red 50%);
}

/* SEGUNDO CONTENEDOR */
.texto {
    padding: 25px;
    margin-top: 40px;
    border: 2px green solid;
    background: linear-gradient(to bottom, white, green);
}

p {
    font-size: 19px;
    text-align: center;
}

.texto:hover {
    background: linear-gradient(to bottom, red, green);
}

